// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



 body {
  background-color: #F6F8FA;
 }

 h1{
  font-family: 'Patua One', cursive;
 }

 h2 {
  font-family: 'Patua One', cursive;
 }

p {
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
}


.container {
  width: 768px;
  margin: 0px auto;
}

.headline {
  text-decoration: none;
  color: #235789;
}

.headline:visited {
  color: #235789;
}

.headline:hover {
  color: #C1292E;
}

.article {
  background-color: white;
  padding: 8px 24px;
  margin: 16px 0;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  border-bottom: 8px solid white;
  align-items: center;

}

.add-button {
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 8px 16px;
  background-color: #2d3561;
  border-radius: 8px;
  text-decoration: none;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #235789;
}
